.instructions {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  p {
    margin-left: 16px;
  }
}

.parameters {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  :nth-child(1) {
    width: 95%;
  }
  p {
    width: 250px;
  }
  div {
    margin-left: 24px;
  }
  .dropdown {
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    width: 300px;
  }
  textarea {
    width: 100%;
    padding: 8px;
    resize: vertical;
  }
  input {
    height: 24px;
  }
  .numberGroup {
    height: 60px;
    width: 100%;
  }
  .pError {
    font-size: 10px;
    color: darkred;
  }
  .calculate {
    margin: 24px;
  }
  button {
    padding: 12px;
    font-weight: 600;
    font-size: 18px;
  }
  button,
  input,
  .dropdown {
    border-radius: 5px;
  }
}

.results {
  display: flex;
  flex-direction: column;
  margin: 24px;
  align-items: flex-start;
  p {
    margin-top: 24px;
  }
}

.paramsVisualization {
  .arrContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    margin: 24px;
  }
  .blueSquareContainer,
  .greenSquareContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 4px;
    padding: 24px;
  }
  .blueSquare {
    width: 30px;
    height: 30px;
    background-color: lightblue;
  }
  .greenSquare {
    width: 30px;
    height: 30px;
    background-color: lightgreen;
  }
  .params {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-left: 24px;
    margin-top: 16px;
    text-align: left;
    .array {
      width: 100%;
      word-wrap: break-word;
      height: auto;
      margin-right: 24px;
    }
  }
  .arrItem {
    height: 70px;
    width: 70px;
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    padding: 4px;
    .index {
      font-size: 10px;
    }
  }
  .arrItemGreen {
    background-color: lightgreen;
  }

  .arrItemBlue {
    background-color: lightblue;
  }
}
